
<div class="bar" style="display: block;  width:38%; float:left; margin-left:8%;  ">
  speed :
  <input type=text [(ngModel)]="speed" (input)="func($event.target.value)"> {{speed}}

  <canvas baseChart class="chart" [datasets]="datasets" [labels]="labels" [options]="options" [chartType]="'bar'" (click)="clickData()">
  </canvas>
</div>


<div class="line" style="display: block;  width:38%; float:right; margin-right:10%; ">
  speed :
  <input type=text [(ngModel)]="speed" (input)="func($event.target.value)"> {{speed}}

  <canvas baseChart class="chart" [colors]="lineChartColors" [datasets]="datasets" [labels]="labels" [options]="options" [chartType]="'line'"
    (click)="clickData()">
  </canvas>

</div>