<script src="node_modules/chart.js/src/chart.js"></script>
<h1>
  Dashboard
</h1>
<div class="example-header">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>

<div class="example-container mat-elevation-z8">

  <mat-table #table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="progress">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Booth </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.progress}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="color">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Color </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.color}} </mat-cell>
    </ng-container>


    <!--      
    <ng-container matColumnDef="athlete">
      <mat-header-cell *matHeaderCellDef mat-sort-header> athlete </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.athlete}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="age">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Age </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.age}}% </mat-cell>
    </ng-container>


    <ng-container matColumnDef="country">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Country </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.country}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="year">
      <mat-header-cell *matHeaderCellDef mat-sort-header> year </mat-header-cell>
      <mat-cell *matCellDef="let row" > {{row.year}} </mat-cell>
    </ng-container>

    
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef mat-sort-header> date </mat-header-cell>
      <mat-cell *matCellDef="let row" > {{row.date}} </mat-cell>
    </ng-container>

    
    <ng-container matColumnDef="sport">
      <mat-header-cell *matHeaderCellDef mat-sort-header> sport </mat-header-cell>
      <mat-cell *matCellDef="let row" > {{row.sport}} </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="gold">
      <mat-header-cell *matHeaderCellDef mat-sort-header> gold </mat-header-cell>
      <mat-cell *matCellDef="let row" > {{row.gold}} </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="silver">
      <mat-header-cell *matHeaderCellDef mat-sort-header> silver </mat-header-cell>
      <mat-cell *matCellDef="let row" > {{row.silver}} </mat-cell>
    </ng-container>

    
    <ng-container matColumnDef="bronze">
      <mat-header-cell *matHeaderCellDef mat-sort-header> bronze </mat-header-cell>
      <mat-cell *matCellDef="let row" > {{row.bronze}} </mat-cell>
    </ng-container>

      -->


    <!-- this is implemenetation of a custom header using ag-grid angular library 
  in which we can add custom html elements in the header -->
    <app-chart2></app-chart2>


    <ng-container matColumnDef="total">
      <mat-header-cell *matHeaderCellDef mat-sort-header> toal </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.total}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
<hr>
<h1>Voting Trends</h1>
<hr>

<app-live-chart></app-live-chart>

<div class="container">
  <div class="row">
    
    <div class="chartContainer mat-elevation-z8">
        
      <div class="bar" style="display: block;height: 354px;width: 45%; margin-left:-15px;">
      <hr>
        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
          [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
      </div>

      <div class="line" style="display: block;height: 354px;width: 45%; margin-right:48px;">
       <hr>
        <canvas baseChart class="chart" [datasets]="datasets" [labels]="labels" [options]="options" [chartType]="'line'">
        </canvas>
      </div>
      <!-- <app-live-chart></app-live-chart> -->
    </div>

  </div>


</div>
